.questions-list {
   display: flex;
   flex-direction: column;
   gap: 16px;
   &__pagination {
      display: flex;
      justify-content: center;
      margin-top: 16px;
   }
}

.questions-block {
   width: 805px;
   height: auto;
   border-radius: 24px;
   padding: 24px 20px 40px;
   background: var(--color-white);
   &__separator {
      width: 100%;
      background-color: var(--color-black-50);
      height: 1px;
      margin: 20px 0;
   }
}
